.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .title {
    font-size: 2.5rem;
  }

  .logo {
    width: 10rem;
  }

  .text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
